$regular-fonts-color: rgba(44, 46, 63, 0.7);
$medium-fonts-color: rgba(44, 46, 63, 1);
$semibold-fonts-color: rgba(20, 21, 23, 1);
$bold-fonts-color: rgba(20, 21, 23, 0.7);
$center-container-color: rgba(255, 255, 255, 1);
$header-text-color: rgba(20, 21, 23, 1);
$page-white-color: rgba(255, 255, 255, 1);
$button-color: rgba(254, 120, 101, 1);
$page-underline-color: rgba(254, 120, 101, 1);
$places-img-text-color: rgba(44, 46, 63, 1);
$reviews-list-inderline: 1px solid rgba(44, 46, 63, 0.3);
$reviews-list-text-color: rgba(44, 46, 63, 0.3);
$reviews-title-color: rgba(44, 46, 63, 1);
$prices-econom-color: rgba(44, 46, 63, 0.3);
$page-black-color: rgba(0, 0, 0, 1);
$input-border: 1px solid rgba(44, 46, 63, 0.3);
$shape-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
$footer-right-border: 1px solid rgba(215, 217, 223, 1);
$footer-phone-color: rgba(215, 217, 223, 1);
$hover-color: rgba(241, 125, 75, 1);
$hover-img-card: rgba(20, 21, 23, 0.6);
$hover-img-card-button: rgba(255, 255, 255, 0.7)
