.center-container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 26px 0 0 0;
  background-color: $center-container-color;
  @media (max-width: $max-tablet-width) {
    padding: 0;
  }
}
