.corporate-travelling {
  margin: 0;
  padding: 0 0 0 30px;
  flex-grow: 1;
  width: 33.33%;

  @media (max-width: $max-tablet-width) {
    border-top: $footer-right-border;
    width: 100%;
  }
  @media (max-width: $max-mobile-width) {
    padding: 0;
  }
}

.corporate-travelling__title {
  @include semibold-fonts();
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 21px 0;
  padding: 0;

  @media (max-width: $max-tablet-width) {
    text-align: center;
    padding-top: 30px;
  }
}

.corporate-travelling__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  max-width: 320px;

  @media (max-width: $max-tablet-width) {
    text-align: center;
    max-width: none;
  }
}
