.our-contacts {
  border-right: $footer-right-border;
  margin: 0 30px 0 0;
  min-height: 190px;
  padding: 0;
  flex-grow: 1;
  width: 30.33%;

  @media (max-width: $max-tablet-width) {
    border-right: none ;
    width: 33%;
    margin: 0;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    min-height: unset;
    margin: 0 0 22px 0;
  }
}

.our-contacts__title {
  @include semibold-fonts();
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 21px 0;
  padding: 0;

  @media (max-width: $max-mobile-width) {
    text-align: center;
    margin: 0 0 22px 0;
  }
}

.our-contacts__email {
  color: $page-underline-color;
  text-decoration: underline;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin: 0;
  padding: 0 0 0 41px;

  &::before {
    content: "";
    background-image: url("../img/footer/email.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.our-contacts__phone-number {
  color: $page-underline-color;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;

  &::before {
    content: "";
    background-repeat: no-repeat;
    width: 16px;
    height: 24px;
    display: inline-block;
    background-color: $footer-phone-color;
    -webkit-mask-image: url("../img/header/phone.svg");
    mask-image: url("../img/header/phone.svg");
    mask-repeat: no-repeat;
    margin: 0;
    padding: 0 0 0 41px;

    @media (max-width: $max-mobile-width) {
      padding: 0 0 0 34px;
    }
  }

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    line-height: 32px;
    text-align: left;
  }
}

.our-contacts__email-wrapper {
  margin: 0 0 15px 0;
  padding: 0;

  @media (max-width: $max-mobile-width) {
    text-align: center;
    padding-left: 10px;
    margin: 0 0 17px 0;
  }
}

.our-contacts__phone-wrapper {
  margin: 0;
  padding: 0;

  @media (max-width: $max-mobile-width) {
    text-align: center;
  }
}
