.page-header {
  min-width: 100%;
  margin: 0 0 32px 0;
  padding: 10px 50px 0 50px;

  @media (max-width: $max-tablet-width) {
    padding: 0 0 0 21px;
    margin-bottom: 0;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 0 0 12px;
  }
}

.page-header__inner {
  @include standart-flex();
  max-width: 1170px;
  margin: 0 auto;
  transition: 1s all;
}

.page-header__logo-wrapper {
  margin: 0;
}

.page-header__logo {
  display: block;
}

.page-header__img {
  width: 66px;
  display: block;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet-width) {
    height: 22px;
    width: 57px;
  }
}

.page-header__text-block {
  @include standart-flex();

  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.page-header__list {
  @include list-null();
  @include standart-flex();
  @include medium-fonts();
  font-size: 14px;
  line-height: 17px;
  margin: 0 110px 0 0;
  padding: 0;
}

.page-header__list-item {
  margin: 0 40px 0 0;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.page-header__list a {
  color: $header-text-color;
}

.page-header__list-item:hover a {
  color: $hover-color;
}

.page-header__phone {
  font-size: 18px;
  line-height: 32px;
  position: relative;
  color: $header-text-color;
  text-decoration: underline;

  &::before {
    content: "";
    background: url("../img/header/phone.svg") no-repeat;
    background-size: 22px 25px;
    display: inline-block;
    width: 20px;
    height: 28px;
    position: absolute;
    top: 0;
    left: -35px;
  }
}

.page-header__phone:hover {
  color: $hover-color;

  &::before {
    content: "";
    background: url("../img/header/phone-hover.svg") no-repeat;
    background-size: 22px 25px;
    display: inline-block;
    width: 20px;
    height: 28px;
    position: absolute;
    top: 0;
    left: -35px;
  }
}
